*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
:root{
  --blue: #01566D;
  --yellow: #EEECDD;
  --purple: #6F465D
}

/* ANCHOR COMMON THINGS */
#separatorLineBlue{
  height: 1px;
  width: 20%;
  background-color: var(--blue);
  margin-bottom: 10px;
}
#separatorLineBlue2{
  height: 1px;
  width: 7%;
  background-color: var(--blue);
  margin-bottom: -2px;
}
.progress{
  height: 10px;
  width: 100%;
  margin-top: .5rem;
}
#SkillProgress{
  width: 100%; 
  margin-bottom: 1rem; 
  font-size: .7rem;
}
.progress-bar{
  background-color: var(--blue);
  transition-duration: 2s;
}
a{
  text-decoration: none;
  z-index: 2;
}

/* ANCHOR HERO CONTENT */
#hero{
  height: 75vh;
  width: 100% auto;
  background-image: url("/images/heroBackground2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 75vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -50%, rgba(0, 0, 0, 1) 300%);
}
#heroText1{
  z-index: 2;
  font-size: 6rem;
  color: var(--yellow);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heroText2{
  z-index: 2;
  font-size: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--yellow);
  color: var(--yellow);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heroText3{
  z-index: 2;
  color: var(--yellow); 
  font-size: 1.5rem;
}
#heroArrow{
  margin-top: 1rem;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid var(--yellow);
  z-index: 2;
  transition-duration: .3s;
}
#heroArrow:hover{
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid var(--yellow);
  z-index: 2;
  transition-duration: .3s;
}

/* ANCHOR HEADER CONTENT */
#header{
  height: 50px;
  width: 100%;
  background-color: var(--blue);
  box-shadow: 0px 2px 10px black;
  position: sticky;
  top: 0;
  z-index: 2;
}
#allHeaderItems{
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--yellow);
  transition-duration: .3s;
  height: 30px;
  font-weight: bolder;
  position: relative;
  border-right: 1px solid var(--yellow);
}
#allHeaderItems:hover{
  height: 50px;
  color: var(--blue);
  cursor: pointer;
}
#allHeaderItems::before{
  content: "";
  transition-duration: .5s;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: var(--yellow);
}
#allHeaderItems:hover::before{
  transition-duration: .5s;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
#lastHeaderItem{
  margin-right: 6rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--yellow);
  transition-duration: .3s;
  height: 30px;
  font-weight: bolder;
  position: relative;
  border-right: 1px solid var(--yellow);
}
#lastHeaderItem:hover{
  height: 50px;
  color: var(--blue);
  cursor: pointer;
}
#lastHeaderItem::before{
  content: "";
  transition-duration: .5s;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: var(--yellow);
}
#lastHeaderItem:hover::before{
  transition-duration: .5s;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* ANCHOR "ABOUT ME" CONTENT */
#aboutMeContainer{
  height: 600px;
  background-color: white;
}
#aboutMe{
 height: 80%;
 width: 80%;
}
/* #aboutMeCol1{
 outline: 1px solid blue;
} */
#aboutMeCol2{
  height: 400px;
  margin-left: 2rem;
  color: var(--blue);
  /* outline: 1px solid red; */
}
#aboutMePic{
  width: 100%;
  border-radius: 50%;
  border: 15px solid var(--blue);
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 50%);
}
p{
  color: var(--purple);
}

/* ANCHOR MY RESUME CONTENT */
#myResumeContainer{
  height: 700px;
  background-color: var(--yellow);
}
#myResume{
  height: 90%;
  width: 90%;
}
#myResumeCol1{
  height: 100%;
  color: var(--blue);
}
#myResumeCol1Row{
  height: 100%;
  width: 100%;
}
#col1row1{
  height: 23%;
  border-left: 1px solid var(--purple);
}
#col2row1{
  height: 70%;
  border-left: 1px solid var(--purple);
}
li{
  margin-bottom: .2rem;
  font-size: .65rem;
  color: var(--purple);
}
li::marker{
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
ul{
  margin-top: 1rem;
}
#myResumeCol2{
  height: 98%;
  color: var(--blue);
  border-left: 1px solid var(--purple);
}
#jobLabel{
  font-size: .7rem;
}
#myResumeCol3{
  height: 25%;
  color: var(--blue);
  border-left: 1px solid var(--purple);
  outline: 1px solid green;
}
h3{
  color: var(--yellow);
  background-color: var(--blue);
  border-radius: 2px;
  text-align: center;
  width: 300px;
}
/* ANCHOR "HARD SKILLS" CONTENT */
#hSkillsContainer{
  height: 600px;
  background-color: white;
}
#hSkills{
  height: 80%;
  width: 80%;
}
#hSkillsCol1{
  height: 400px;
  color: var(--blue);
  /* outline: 1px solid blue; */
}
#hSkillsCol2{
  height: 400px;
  color: var(--blue);
  /* outline: 1px solid red; */
  margin-left: 1rem;
}

/* ANCHOR SOFT SKILLS CONTENT */
#softSkillsContainer{
  height: 300px;
  background-color: var(--yellow);
}
#softSkillBox{
  height: 70%;
  width: 16%;
  background-color: white;
  margin-right: 3rem;
  box-shadow: 0 0 29px 0 rgb(68 88 144 / 20%);
  border-radius: 5px;
  color: var(--blue);
  transition-duration: .5s;
}
#softSkillBox:hover{
  background-color: var(--blue);
  transition-duration: .5s;
  color: var(--yellow);
}
#softSkillIcon{
  margin-top: 1rem;
  border-bottom: 1px solid;
}
#softSkillText{
  margin-top: 1rem;
  font-size: .7rem;
  width: 80%;
  line-height: 1.2rem;
  font-weight: lighter;
}
#softSkillsTitleContainer{
  background-color: var(--yellow);
  height: 65px;
}
#softSkillTitle{
  margin-top: 20px;
  color: var(--blue);
}
