*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}
:root{
  --azul: #01566D;
  --amarillo: #EEECDD;
  --morado: #6F465D
}

/* NOTE HERE STARTS THE HERO CONTENT */
#hero{
  height: 75vh;
  width: 100% auto;
  background-image: url("/images/heroBackground2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#hero::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 75vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -50%, rgba(0, 0, 0, 1) 300%);
}
#heroText1{
  z-index: 2;
  font-size: 6rem;
  color: var(--amarillo);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heroText2{
  z-index: 2;
  font-size: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--amarillo);
  color: var(--amarillo);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#heroText3{
  z-index: 2;
  color: var(--amarillo); 
  font-size: 1.5rem;
}

/* NOTE HERE STARTS THE HEADER CONTENT */
#header{
  height: 50px;
  width: 100%;
  background-color: var(--azul);
  box-shadow: 0px 2px 10px black;
  position: sticky;
  top: 0;
  z-index: 2;
}
#allHeaderItems{
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--amarillo);
  transition-duration: .3s;
  height: 30px;
  font-weight: bolder;
  position: relative;
  border-right: 1px solid var(--amarillo);
}
#allHeaderItems:hover{
  height: 50px;
  color: var(--azul);
  cursor: pointer;
}
#allHeaderItems::before{
  content: "";
  transition-duration: .5s;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: var(--amarillo);
}
#allHeaderItems:hover::before{
  transition-duration: .5s;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
#lastHeaderItem{
  margin-right: 6rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--amarillo);
  transition-duration: .3s;
  height: 30px;
  font-weight: bolder;
  position: relative;
  border-right: 1px solid var(--amarillo);
}
#lastHeaderItem:hover{
  height: 50px;
  color: var(--azul);
  cursor: pointer;
}
#lastHeaderItem::before{
  content: "";
  transition-duration: .5s;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  background-color: var(--amarillo);
}
#lastHeaderItem:hover::before{
  transition-duration: .5s;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* NOTE HERE STARTS THE BODY CONTENT */
#aboutMeContainer{
  height: 600px;
  background-color: var(--amarillo);
}
#aboutMe{
 height: 80%;
 width: 80%;
}
#aboutMeCol1{
  /* outline: 1px solid blue; */
}
#aboutMeCol2{
  height: 400px;
  margin-left: 2rem;
  color: var(--azul);
  /* outline: 1px solid red; */
}
#aboutMePic{
  width: 100%;
  border-radius: 50%;
  border: 15px solid var(--azul);
}